@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    background-image: linear-gradient(to right, #01022d, #000);
    height: 100vh;

    align-items: center;
    margin: 0;

}


.content {

    width: 100%;
    height: 120%;
    background-image: linear-gradient(to right, #01022da1, #00000088);
    background-image: url(D:\vel/man.avif);

    background-size: cover;
    background-position: center;


}

.content:hover {
    background-image: linear-gradient(to right, #852aa8f1 30%,
            transparent),
        url(D:\vel/man.avif);

}



.bob {
    justify-content: right;
    display: flex;
    padding: 10px;

}

.bob a {
    position: relative;
    list-style-type: none;
    padding: 30px;
    top: 10px;
    font-size: 20px;
    color: rgb(241, 241, 241);
    text-decoration: none;

}

.bob a:hover {

    border-bottom: 2px solid red;
}

.red h1 {

    position: absolute;
    justify-content: center;
    color: yellow;
    text-transform: uppercase;
    margin-left: 5em;




}

.p {

    letter-spacing: 2px;
    width: 500px;
  

    font-size: 20px;
    padding: 80px 80px 80px 80px;

    text-align: center;
    color: rgb(0, 186, 219);

}

.p button {
    color: #0fe20f;
    
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    
    bottom: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border-color: #0fe20f;
    font-weight: 500;


}


.p button:hover {
    background-color: rgb(12, 12, 5)
}

.pic {
    background-color: #ff9100;


}

 .pic h2 {
    font-size: 30px;
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 

} 




.images {
    display: flex;
}

.images div {
    padding: 20px;
    color: white;
    opacity: 0.4;
    width: 360px;
    height: 360px;

     padding: 40px; 
}

.images div:hover {
    opacity: 1;
    /* transform: rotate(1deg);  */
}

.images h2 {
    padding: 10px;
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

.images p {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: aliceblue;

}


.player h1 {
   
    font-size: 30px;
    padding: 210px;
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    color: rgb(231, 209, 10);




}

.game {
    display: flex;

}

.game div {

 margin-bottom: 15em;
    color: white;
    opacity: 0.3;
    width: 360px;
    height: 360px;

      padding: 40px; 
}

.game div:hover {
    opacity: 1;
    transform: rotate(1deg);
}

.game h2 {
    padding: 10px;
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 238, 0);
}

.game p {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.game2 {
    display: flex;
}

.game2 div {
    color: white;
    opacity: 0.3;
    width: 360px;
    height: 360px;

     padding: 40px; 
}

.game2 h2 {
    padding: 10px;
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}

.game2 p {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.game2 div:hover {
    opacity: 1;
    transform: rotate(1deg);
}






.ww h1 {
 
    padding: 9em;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 0, 0);
    text-align: center;
}

.head {
   
    display: flex;
   
}
.img2{
    padding-right: 10em;
    padding-bottom: 20em; 
}

.para {
padding-left: 4em;
    color: #ff9100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
  

}
.button1{padding: 10px 50px;
 
}
.button1 a {

    font-size: 2em;
    color: rgb(252, 252, 252);
  

    text-decoration: none;
    color: #0fe20f;
    /* text-align: right; */
    font-size: 30px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px; 


    border: 2px solid transparent;
    /* cursor: pointer; */
    color: white;
     background-color: transparent;
    border-color: #0fe20f;
    font-weight: 500; 


}

.button1 a:hover {
    background-color: rgb(255, 2, 2);
}

.logo  {
padding: 0px 50px;
    font-size: 4em;
   top: 20em;


}